  <h1>New Album</h1>
  <div class="container-fluid">
    <form action="/albums/new" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="title">Album Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Enter album title">
      </div>
      <div class="form-group">
        <label for="artist">Artist</label>
        <input type="text" class="form-control" id="artist" name="artist" placeholder="Enter artist">
      </div>
      <div class="form-group">
        <label for="year">Year</label>
        <input type="text" class="form-control" id="year" name="year" placeholder="Enter year produced">
      </div>
      <div class="form-group">
        <label for="genreID">Genre</label>
        <select class="form-control" id="genreID" name="genreID">
          {{#each data}}
          <option label="{{genre}}">{{genreID}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label for="albumCover">Album Cover Upload</label>
        <input type="file" class="form-control" id="albumCover" name="albumCover">
      </div>
      </br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
